name: Custom Receipt

on:
  repository_dispatch:
    types: [web_trigger]
  workflow_dispatch:
permissions:
  contents: write
  
jobs:
  generate-html:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate index.html from template
        run: |
          # Date formats
          DATE_READABLE=$(date +"%d %b %Y")
          CURRENT_TIME=$(TZ="Asia/Kolkata" date +"%I:%M %p")
          CURRENT_NAME=${{ github.event.client_payload.name }}
          echo "DATE_READABLE=$DATE_READABLE" >> $GITHUB_ENV
          echo "CURRENT_TIME=$CURRENT_TIME" >> $GITHUB_ENV
          DATE_URL_ENCODED=$(date +"%d%%20%b%%20%Y")
          # Recreate index.html from template
          cp place_holder.html 1.html
          # Replace placeholders
          sed -i "s/DATE_PLACEHOLDER_SPACE/$DATE_URL_ENCODED/g" 1.html
          sed -i "s/DATE_PLACEHOLDER/$DATE_READABLE/g" 1.html
          sed -i "s/TIME/${CURRENT_TIME}/g" 1.html
          sed -i "s/NAME/${CURRENT_NAME}/g" 1.html
      - name: Commit updated index.html
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add index.html
          git commit -m "chore: update receipt date to $DATE_READABLE" || exit 0
          git push
